<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

C'est au tour de {{ game.joueurActuel }} de jouer

    <table>
    {{#game.tabJeu}} <!--tableau sur lequel va être effectué l'itération :# définit le début du bloc à itérer}}-->
        <tr>
            <!-- {{.}} représente l'élément du tableau ou de la liste actuellement scanné-->
           <!-- <a href="/game/drop/{{-index}}">test</a> : test de récupération des lignes pour comprendre le fonctionnement de {{-index}}-->

            {{#.}} // <!--similaire à game.tabJeu[i] dans GameModel (itération sur la première dimension du tableau. #: début du bloc-->
             <td>
                 <a href="/game/drop/{{-index}}"> <!-- {{-index}} est un mot clef et non une variable arbitraire. permet de récupérer l'indice de l'élément actuel: cet indice correspond ici à 'j', indice qui représente ici la colonne -->
                        {{.}} <!-- similaire à game.tabJeu[i][j] dans GameModel (itération sur la seconde dimension : -->
                 </a>
             </td>
            {{/.}}  <!--fin du bloc deuxième dimension -->
        </tr>
    {{/game.tabJeu}} <!--fin du bloc première dimension-->
    </table>
</body>
</html>